* {
      margin: 0;
      padding: 0;
}

.font-geist{
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
}

body{
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 245px 0px 245px;
    background-color: #F8FAFC;
}

header{
    margin-bottom: 60px;
}

header h1{
    margin-bottom: 20px;
}

.tracker-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
}

.info-card {
      background-color: #ffffff;
      border: 1px solid #e2e8f0;
      border-radius: 8px;
      padding: 20px 20px;
      box-shadow: 0 2px 12px rgba(0,0,0,0.08);
}

#count-total{
    color: black;
}

#count-interview{
    color: green;
}

#count-rejected{
    color: red;
}

.available-jobs-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.tab-btn {
    padding: 8px 12px;
    border: none;
    background-color: #F1F2F4;
    border-radius: 4px;
    color: #64748B;
    cursor: pointer;
    max-width: 80px;
    max-height: 32px;
}

.active {
    background-color: #3B82F6;
    color: white;
}

.job-card{
    margin-top: 16px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    background-color: white;
    margin-bottom: 16px;
}

.job-card .grey{
    color: #64748B;
}

.job-card-gap{
    margin-bottom: 20px;
}

.job-card-button{
    gap: 8px;
}

.job-btn-1{
    border: 2px solid green;
    background-color: white;
    border-radius: 4px;
    color: green;
    padding: 10px 8px;
    font-weight: bold;
}

.job-btn-2{
    border: 2px solid red;
    background-color: white;
    border-radius: 4px;
    color: red;
    padding: 10px 8px;
    font-weight: bold;
}

.job-btn-3{
    border: 1px solid whitesmoke;
    background-color: white;
    border-radius: 50px;
    color: grey;
    padding: 10px 8px;

}

.hidden {
  display: none;
}

.status{
    background-color: #EEF4FF;
    padding: 10px 10px;
    border-radius: 4px;
    max-width: 100px;
}

@media screen and (max-width:576px) {
    body{
      margin: 0;
      padding: 50px;
    }

}